.subscribe {
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #2955DC;
    display: flex;
}

.form {
    justify-content: center;
    align-items: center;
}